@charset "utf-8";
/* CSS Document */
*{
	padding: 0; 
	margin: 0; 
}
#main{
	
	margin: 0 auto; 
	width: 1000px; 
	height: 650px; 
	background-color: aquamarine; 
	position: relative; 
}
#main .container{
	width: 800px; 
	height: 500px; 
	padding: 0; 
	margin:0px auto;  
	background-color: red; 
	position: relative; 
	left: 10%;
    top: 10%;
	transform: translateY(-10%);
}
    
	
}
